body {
      background: ghostwhite; 
      
    }
    
.navbar {
  border-bottom: #ff4955 2.5px solid; }
  .navbar img {
    width: 140px; }

#show {
  position: relative;
  background: url("../img/bg.png") no-repeat;
  overflow: hidden;
  min-height: 750px;
  background-attachment: fixed; 

}
  #show .overlay {
    background: rgba(17, 17, 16, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    
#boxes {
    margin-bottom: 60px; }
    #boxes .card {
      height: 100%; }

#service {
    background: rgba(247, 15, 38, 0.295);
    margin-top: -2rem; }
    #service i {
      font-size: 50px;
      margin-bottom: 10px;
      color: #f01a1a; }
    #service .service-info h4 {
      margin-bottom: 12px; }


#team h1 {
    color: rgb(38, 39, 39); }

  #team .card {
    height: 100%; }
  
  #team .out img {
    margin-top: -50px; }
  
  #team .fa {
    font-size: 25px;
    color: #4FA4EF; }
  
  #team .inner img {
    height: 25px; }
  
  #team .card:hover {
    background: #4FA4EF; }
    #team .card:hover .fa {
      color: #d6dfe7; }
  
  #team .mem {
    text-align: center; }


#contact {

}
    #contact a {
      color: rgba(250, 245, 245, 0.801); }
  
  #main-footer a {
    color: rgba(250, 245, 245, 0.801);}

#page-header {
  height: 200px;
  background: url("../img/chain.jpeg") no-repeat;
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px; }

  
#team-list i{
  font-size: 13px;
  color: #f58990
}