body {
      background: ghostwhite; }
    
.navbar {
  border-bottom: #ff4955 2.5px solid; }
  .navbar img {
    width: 140px; }

#show {
  position: relative;
  background: url("../img/bg.png") no-repeat;
  overflow: hidden;
  min-height: 750px;
  background-attachment: fixed; }
  #show .overlay {
    background: rgba(17, 17, 16, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    
#boxes {
    margin-bottom: 60px; }
    #boxes .card {
      height: 100%; }

#service {
    background: #f8d1d1;
    margin-top: -2rem; }
    #service hr {
      height: 3px;
      width: 60px;
      background: #ffb737;
      border: 0;
      margin: 20px 0 20px 0; }
    #service i {
      font-size: 50px;
      margin-bottom: 10px;
      color: #e95935; }
    #service .service-info h4 {
      margin-bottom: 12px; }


#team h1 {
    color: #4FA4EF; }

  #team .card {
    height: 100%; }
  
  #team .out img {
    margin-top: -50px; }
  
  #team .fa {
    font-size: 25px;
    color: #4FA4EF; }
  
  #team .inner img {
    height: 25px; }
  
  #team .card:hover {
    background: #4FA4EF; }
    #team .card:hover .fa {
      color: #d6dfe7; }
  
  #team .mem {
    text-align: center; }

